@keyframes chip-step-0 {
    33% {
        left: 408px;
        top: 425px
    }

    66% {
        left: 377px;
        top: 396px;
    }

    100% {
        left: 340px;
        top: 407px;
    }
}

@keyframes chip-step-1 {
    33% {
        left: 319px;
        top: 422px
    }

    66% {
        left: 290px;
        top: 437px;
    }

    100% {
        left: 265px;
        top: 450px;
    }
}

@keyframes chip-step-2 {
    33% {
        left: 238px;
        top: 465px
    }

    66% {
        left: 208px;
        top: 470px;
    }

    100% {
        left: 180px;
        top: 470px;
    }
}

@keyframes chip-step-3 {
    33% {
        left: 151px;
        top: 465px
    }

    66% {
        left: 129px;
        top: 457px;
    }

    100% {
        left: 101px;
        top: 442px;
    }
}

@keyframes chip-step-4 {
    33% {
        left: 78px;
        top: 425px
    }

    66% {
        left: 86px;
        top: 399px;
    }

    100% {
        left: 113px;
        top: 376px;
    }
}

@keyframes chip-step-5 {
    33% {
        left: 103px;
        top: 357px
    }

    66% {
        left: 109px;
        top: 337px;
    }

    100% {
        left: 131px;
        top: 321px;
    }
}

@keyframes chip-step-6 {
    33% {
        left: 156px;
        top: 309px
    }

    66% {
        left: 179px;
        top: 297px;
    }

    100% {
        left: 204px;
        top: 284px;
    }
}

@keyframes chip-step-7 {
    33% {
        left: 226px;
        top: 257px
    }

    66% {
        left: 197px;
        top: 233px;
    }

    100% {
        left: 166px;
        top: 213px;
    }
}

@keyframes chip-step-8 {
    33% {
        left: 136px;
        top: 196px
    }

    66% {
        left: 111px;
        top: 175px;
    }

    100% {
        left: 129px;
        top: 161px;
    }
}

@keyframes chip-step-9 {
    33% {
        left: 151px;
        top: 147px
    }

    66% {
        left: 151px;
        top: 113px;
    }

    100% {
        left: 191px;
        top: 129px;
    }
}

@keyframes chip-step-10 {
    33% {
        left: 207px;
        top: 154px
    }

    66% {
        left: 221px;
        top: 167px;
    }

    100% {
        left: 242px;
        top: 178px;
    }
}