.btn {
    user-select: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: flex-end;
    margin: 0 3px;
}

.btn.chat {
    background-image: url(../images/main/chat.png);
    width: 64px;
    height: 64px;
}

.btn.email {
    background-image: url(../images/main/email.png);
    width: 64px;
    height: 64px;
}

.btn.score {
    background-image: url(../images/main/score.png);
    width: 64px;
    height: 64px;
}

.btn.university {
    background-image: url(../images/main/university.png);
    width: 190px;
    height: 64px;
}