.chip {
    background-image: url(../images/main/player.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 69px;
    position: absolute;
    cursor: pointer;
    left: 434px;
    top: 426px;

    &:hover {
        filter: brightness(1.2);
    }
}