.modal {

    .modal-body {
        background-image: url(../images/modal/modal-scaffold.png);
        border-radius: 15px;
        position: absolute;
        height: 455px;
        width: 523px;
        z-index: 101;
        top: -1500px;
        left: calc(50% - 260px);
        transition: top .7s;
    }

    .overlay {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: opacity .3s;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }

    .modal-header {
        background-image: url(../images/modal/modal-header.png);
        height: 32px;
        width: 264px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -15px;
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-shadow: 0 1px 0 black;
        left: calc(50% - 130px);
    }

    .modal-inner {
        padding: 75px 24px 30px;
    }

    .modal-close-btn {
        background-image: url(../images/modal/close.png);
        position: absolute;
        background-size: contain;
        width: 26px;
        height: 26px;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    .modal-score {
        border-radius: 15px;
        background-color: #8c5a31;
        color: white;
        padding: 30px;
    }

    .score-header,
    .score-item {
        display: grid;
        grid-template-columns: 20% 10% 50% 20%;
        grid-template-rows: 1fr;
        gap: 0 0;
        grid-template-areas:
            ". . . .";
        padding: 0 15px;
        font-size: 14px;
        font-weight: bold;
        align-items: center;
    }

    .score-header {
        height: 29px;
        background-image: url(../images/modal/modal-score-header.png);
        background-size: contain;
        background-repeat: no-repeat;
        justify-content: space-between;

        span {
            margin-top: 1px;
        }

        .place,
        .exp {
            text-align: center;
        }

    }

    .score-list {
        overflow-x: hidden;
        overflow-y: auto;
        height: 250px;

        .score-item {
            background-image: url(../images/modal/modal-score-item.png);
            background-repeat: no-repeat;
            margin-top: 6px;
            height: 27px;


            .is-friend {
                background-image: url(../images/modal/square-friend.png);
                flex: 0 1 auto;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 8px;
                margin-top: -1px;
            }

            .score-lastname,
            .score-exp {
                margin-top: -3px;
            }

            .score-exp {
                text-align: center;

            }

            .score-lastname.friend {
                color: #ffeb3b;
            }

            .score-place {
                text-align: center;
            }
        }
    }
}

.modal.active {

    .modal-body {
        top: 80px;
    }

    .overlay {
        opacity: 1;
    }
}