#slider {
    display: flex;
    height: 64px;
    width: 548px;
    align-items: center;
    background-image: url(../images/main/friends.png);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: space-between;
    padding: 0 5px;
    box-sizing: border-box;
    margin: 0 3px;
    padding: 0 6px;

    .back-btn,
    .forward-btn {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 32px;
        height: 32px;
        cursor: pointer;
        user-select: none;
    }

    .back-btn {
        background-image: url(../images/main/back.png);
    }

    .forward-btn {
        background-image: url(../images/main/forward.png);
    }

    .addfriend-btn {
        background-image: url(../images/main/user-bg.png);
        width: 52px;
        height: 52px;
        margin: 0 4px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        cursor: pointer;
        user-select: none;

        &:active {
            filter: brightness(0.8);
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../images/main/plus.png);
            margin-top: -35px;
            margin-left: 45px;
        }
    }

    .slider-inner {
        overflow: hidden;
        width: 100%;
        padding: 5px;
    }

    .slider-list {
        display: inline-flex;
        height: 64px;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        margin-left: 4px;

        li {
            &:first-child {
                margin-left: 0;
            }
        }
        
    }

    .slider-item {
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        background-image: url(../images/main/user-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 4px;
    }

}